<ion-content class="ion-padding">

    <ion-row class="ion-padding h-100">

        <ion-col class="col-des" size="12" sizeMd="8">

            <ion-col class="description" size="12">
                <ion-title>Goodplaceto.live</ion-title>
                <p>
                    Développement d'une application web dans le domaine immobilier. 
                    Conception et réalisation d'une application interactive, construite avec Angular et Ionic, 
                    permettant aux utilisateurs d'obtenir une évaluation détaillée de leur 
                    environnement (sécurité, qualité de vie, etc.) à partir d'une adresse.
                </p>
            </ion-col>

            <ion-col class="show" size="12">
                <div class="col-container flex">
                    <div class="desktop flex-center">
                        <div class="desktop__computer flex-center">
                            <video class="desktop__computer__screen" src="assets/video/desktop.mp4" autoplay muted loop playsinline #video1></video>
                        </div>
                        <div class="desktop__stand"></div>
                        <div class="desktop__base"></div>
                    </div>

                    <div class="phone flex-center">
                        <video class="phone__video" src="assets/video/phone.mp4" autoplay muted loop playsinline #video2></video>
                        <div class="phone__case">
                            <div class="phone__case__buttons">
                            <div class="phone__case__buttons__volume"></div>
                            <div class="phone__case__buttons__power"></div>
                            </div>
                        </div>
                        <div class="phone__camera"></div>
                    </div>
                </div>

                <ion-spinner name="crescent" color="dark"></ion-spinner>
            </ion-col>

            <ion-row class="w-100 flex-center">
                <ion-button fill="clear" color="dark" (click)="openAlert()">Voir le site</ion-button>
            </ion-row>
        </ion-col>
        

        <ion-col class="function border-left" size="12" sizeMd="4">
            <ion-list inset="true">
                <ion-label>Frontend</ion-label>
                <ion-item lines="none">
                    <ion-icon class="dot" name="ellipse"></ion-icon>
                    <ion-label>Angular</ion-label>
                </ion-item>
                <ion-item lines="none">
                    <ion-icon class="dot" name="ellipse"></ion-icon>
                    <ion-label>Ionic</ion-label>
                </ion-item>
                <ion-item lines="none">
                    <ion-icon class="dot" name="ellipse"></ion-icon>
                    <ion-label>TypeScript</ion-label>
                </ion-item>
            </ion-list>
            <ion-list inset="true">
                <ion-label>Backend & données</ion-label>
                <ion-item lines="none">
                    <ion-icon class="dot" name="ellipse"></ion-icon>
                    <ion-label>API REST</ion-label>
                </ion-item>
            </ion-list>
            <ion-list inset="true">
                <ion-label>Communication</ion-label>
                <ion-item lines="none">
                    <ion-icon class="dot" name="ellipse"></ion-icon>
                    <ion-label>Appels HTTP avec le HttpClient d’Angular</ion-label>
                </ion-item>
                <ion-item lines="none">
                    <ion-icon class="dot" name="ellipse"></ion-icon>
                    <ion-label>Consommation d’API REST</ion-label>
                </ion-item>
            </ion-list>
        </ion-col>
    </ion-row>
    <ion-button class="btn-close" fill="clear" color="dark" (click)="close()"><ion-icon name="close-outline"></ion-icon></ion-button>
</ion-content>