<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Clément Carcenac</ion-title>
      <h2 class="ml-aut">Développeur Front End</h2>
    </ion-toolbar>
  </ion-header> -->

  <!-- <div class="w-100 h-100 flex-center">
     <div style="padding: 15%;" #moveContainer>
        <h1 class="shadow-dance-text">test</h1>
     </div>
  </div> -->

  <app-project-page></app-project-page>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
