<ion-content class="ion-padding">

    <ion-row class="ion-padding h-100">

        <ion-col class="col-des" size="12" sizeMd="8">

            <ion-col class="description" size="12">
                <ion-title>F1 Gallery</ion-title>
                <p>
                    F1 Gallery est un projet personnel conçu pour suivre les Grands Prix de Formule 1 en direct, 
                    découvrir les équipes et pilotes, et visualiser les classements de manière interactive.

                    L’objectif principal : montrer mes compétences en développement front-end, consommation d’APIs et design responsive tout en créant un projet fun et éducatif.
                </p>
            </ion-col>

            <ion-col class="show" size="12">
                <div class="col-container flex">
                    <div class="desktop flex-center">
                        <div class="desktop__computer flex-center">
                            <img class="desktop__computer__screen" src="assets/images/f1desktop.png" autoplay muted loop playsinline #video1>
                        </div>
                        <div class="desktop__stand"></div>
                        <div class="desktop__base"></div>
                    </div>

                    <div class="phone flex-center">
                        <img class="phone__video" src="assets/images/f1mobile.png" autoplay muted loop playsinline #video2>
                        <div class="phone__case">
                            <div class="phone__case__buttons">
                            <div class="phone__case__buttons__volume"></div>
                            <div class="phone__case__buttons__power"></div>
                            </div>
                        </div>
                        <div class="phone__camera"></div>
                    </div>
                </div>

                <ion-spinner name="crescent" color="dark"></ion-spinner>
            </ion-col>

            <ion-row class="w-100 flex-center">
                <ion-button fill="clear" color="dark" href="https://github.com/ClementCar/f1-gallery" target="_blank">Accéder au code</ion-button>
                <ion-button fill="clear" color="dark" href="https://f1-gallery.vercel.app/home" target="_blank">Voir le site</ion-button>
            </ion-row>
        </ion-col>
        

        <ion-col class="function border-left" size="12" sizeMd="4">
            <ion-list inset="true">
                <ion-label>Frontend</ion-label>
                <ion-item lines="none">
                    <ion-icon class="dot" name="ellipse"></ion-icon>
                    <ion-label>Angular</ion-label>
                </ion-item>
                <ion-item lines="none">
                    <ion-icon class="dot" name="ellipse"></ion-icon>
                    <ion-label>Ionic Framework</ion-label>
                </ion-item>
                <ion-item lines="none">
                    <ion-icon class="dot" name="ellipse"></ion-icon>
                    <ion-label>TypeScript</ion-label>
                </ion-item>
                <ion-item lines="none">
                    <ion-icon class="dot" name="ellipse"></ion-icon>
                    <ion-label>Responsive design</ion-label>
                </ion-item>
            </ion-list>

            <ion-list inset="true">
                <ion-label>Données & APIs</ion-label>
                <ion-item lines="none">
                    <ion-icon class="dot" name="ellipse"></ion-icon>
                    <ion-label>Consommation d’API REST F1</ion-label>
                </ion-item>
                <ion-item lines="none">
                    <ion-icon class="dot" name="ellipse"></ion-icon>
                    <ion-label>Récupération des données pilotes, équipes et classements</ion-label>
                </ion-item>
                <ion-item lines="none">
                    <ion-icon class="dot" name="ellipse"></ion-icon>
                    <ion-label>Données des Grands Prix et résultats</ion-label>
                </ion-item>
            </ion-list>

            <ion-list inset="true">
                <ion-label>Communication</ion-label>
                <ion-item lines="none">
                    <ion-icon class="dot" name="ellipse"></ion-icon>
                    <ion-label>Appels HTTP avec HttpClient (Angular)</ion-label>
                </ion-item>
                <ion-item lines="none">
                    <ion-icon class="dot" name="ellipse"></ion-icon>
                    <ion-label>Gestion des réponses API (Observables)</ion-label>
                </ion-item>
            </ion-list>
        </ion-col>
    </ion-row>
    <ion-button class="btn-close" fill="clear" color="dark" (click)="close()"><ion-icon name="close-outline"></ion-icon></ion-button>
</ion-content>